{
    "presets": [["es2015", {"loose": true}], "stage-0"],
    "plugins": [
        ["babel-plugin-module-alias", [
            {
                "src": "./src",
                "expose": "node-config-loader"
            }
        ]],
        "syntax-flow",
        "espower",
        "transform-flow-strip-types"
    ]
}
