# Coverage directory used by tools like istanbul
coverage

# Dependency directory
# Commenting this out is preferred by some people, see
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
npm-debug.log

# Build directory
build

# Mac
.DS_Store

# IDE
.idea
